{{#active_displays}}
Section "Monitor"
	Identifier	"{{monitor_id}}"
	Modeline	"{{monitor_mode}}" {{monitor_modeline}}
	Option		"PreferredMode" "{{monitor_mode}}"
	#Option		"TargetRefresh" "60"
	Option		"Position" "{{monitor_x}} {{monitor_y}}"
	Option		"Rotate" "{{monitor_rotation}}"
	Option		"Disable" "false"
EndSection

Section "Screen"
	Identifier "{{screen_id}}"
	Device     "device-intel"
        Monitor    "{{monitor_id}}"
	DefaultDepth     24
	SubSection "Display"
		#Viewport   0 0
		#Virtual   2048 768
		Depth     24
	EndSubSection
EndSection

{{/active_displays}}

{{#passive_displays}}
Section "Monitor"
	Identifier	"{{monitor_id}}"
	Option		"Ignore" "true"
	#Option		"Disable" "true"
EndSection

{{/passive_displays}}

Section "Device"
	Identifier  "device-intel"
	Driver      "intel"
	{{#active_displays}}
	Option	    "Monitor-{{monitor_output}}" "{{monitor_id}}"
	{{/active_displays}}
	{{#passive_displays}}
	Option	    "Monitor-{{monitor_output}}" "{{monitor_id}}"
	{{/passive_displays}}
EndSection


Section "ServerLayout"
	Identifier     "layout-atawa"
	#Screen      0  "screen-internal"
	{{#active_displays}}
	Screen      {{screen_num}}  "{{screen_id}}"
	{{/active_displays}}
EndSection


Section "Module"
EndSection


Section "ServerFlags"
	Option	    "Xinerama" "on"
EndSection
