{{#monitors}}
Section "Monitor"
	Identifier	"{{monitor_output}}"

	Modeline "1280x720_40.00"  47.17  1280 1312 1440 1600  720 721 724 737  -HSync +Vsync
	Modeline "1280x720_50.00"  60.47  1280 1328 1456 1632  720 721 724 741  -HSync +Vsync
	Modeline "1280x720_60.00"  74.48  1280 1336 1472 1664  720 721 724 746  -HSync +Vsync

	Modeline "1280x768_50.00"  65.18  1280 1336 1464 1648  768 769 772 791  -HSync +Vsync
	Modeline "1280x768_60.00"  80.14  1280 1344 1480 1680  768 769 772 795  -HSync +Vsync
	Modeline "1280x768_75.00"  102.98  1280 1360 1496 1712  768 769 772 802  -HSync +Vsync

	Modeline "1920x1050_60.00"  168.01  1920 2040 2248 2576  1050 1051 1054 1087  -HSync +Vsync

	Modeline "1920x1080_60.00"  172.80  1920 2040 2248 2576  1080 1081 1084 1118  -HSync +Vsync 
EndSection

{{/monitors}}
